<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ipush.web.mapper.InfoMapper">
    <select id="listWithSubInfo" resultType="xyz.ipush.web.dto.InfoDTO">
        select id.id, id.title, id.description, id.image, !isnull(s.user_id) concerned,s.id subscriptionId
        from info_define id
        left join subscription s on id.id = s.info_define_id and s.user_id = #{userId}
        <if test="keyword != null">
            where id.title like concat('%',#{keyword},'%')
            or id.description like concat('%',#{keyword},'%')
        </if>
    </select>
</mapper>
