<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ipush.web.mapper.JobMapper">

	<resultMap id="BaseResultMap" type="xyz.ipush.web.entity.Job">
		<id column="id" property="id" />
		<result column="group_name" property="groupName" />
		<result column="job_name" property="jobName" />
		<result column="job_status" property="jobStatus" />
		<result column="description" property="description" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<insert id="insertSelective" parameterType="xyz.ipush.web.entity.Job">
		insert into job
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="groupName != null">
				group_name,
			</if>
			<if test="jobName != null">
				job_name,
			</if>
			<if test="jobStatus != null">
				job_status,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="groupName != null">
				#{groupName},
			</if>
			<if test="jobName != null">
				#{jobName},
			</if>
			<if test="jobStatus != null">
				#{jobStatus},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>
</mapper>
