<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%p %d{yyyy-MM-dd HH:mm:ss.SSS} %c %L %t %m%n" />
        </Console>

        <RollingFile name="runtimeFile" fileName="./logs/ipush-server.log" filePattern="./logs/ipush-server-%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout pattern="%p %d{yyyy-MM-dd HH:mm:ss.SSS} %c %L %t %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <!-- 此行以下为自动清理日志的配置 -->
            <DefaultRolloverStrategy>
                <Delete basePath="./logs">
                    <!-- glob 项为需要自动清理日志的pattern -->
                    <IfFileName glob="*.log"/>
                    <!-- 30d 表示自动清理掉30天以前的日志文件 -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <!-- 此行以上为自动清理日志的配置 -->
        </RollingFile>

        <RollingFile name="accessLog" fileName="./logs/ipush-access.log" filePattern="./logs/ipush-access-%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout pattern="%p %d{yyyy-MM-dd HH:mm:ss.SSS} %c %L %t %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <!-- 此行以下为自动清理日志的配置 -->
            <DefaultRolloverStrategy>
                <Delete basePath="./logs">
                    <!-- glob 项为需要自动清理日志的pattern -->
                    <IfFileName glob="*.log"/>
                    <!-- 30d 表示自动清理掉30天以前的日志文件 -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <!-- 此行以上为自动清理日志的配置 -->
        </RollingFile>


    </Appenders>

    <Loggers>
        <logger name="fun.jwei.ipush.web.config.interceptor.AccessLogInterceptor" level="info" additivity="false">
            <AppenderRef ref="accessLog" />
        </logger>
        <root level="info">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="runtimeFile" />
        </root>
    </Loggers>

</configuration>
