<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>姓名</td>
        <td>学号</td>
    </tr>
    <tr>
        <td>
            ${name}
        </td>
        <td>
            ${sno}
        </td>
    </tr>
</table>
<img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1600607243&di=b1db5966390e3164f180f7487d62da09&src=http://a0.att.hudong.com/56/12/01300000164151121576126282411.jpg">
</body>
</html>